<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="map.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
   <script src="map.js"></script>
  
  </head>
  
  <body>
    <h1>Valet.io - We're takin ova</h1>
    <div id="map-canvas"></div>
   
    <div ng-controller="MapCtrl">
     

     <form ng-submit="addMap()">
        <input type="text" id ="name" ng-model="mapText"  size="30"
               placeholder="add new Event here">
                <input type="text" id = "address" ng-model="mapLocation"  size="30"
               placeholder="address">
        <input class="btn-primary" type="submit" value="add">
      </form>
   
    <table>

    <tr>
    <th>Event</th>
    <th>Location</th>
  </tr>

  <tr ng-repeat="map in maps">
    <td>{{map.text}}</td>
    <td>{{map.location}}</td>
  </tr>

    </table>

     </div>
  </body>
</html>